body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-header,.second-header{
    width: 100%;
}

.top-header{
    position: relative;
}

div#container {
    width:100%; 
    height: 84%;
    float:left;
    overflow: hidden;
    background-color: #EEEEEE;
}
div#left-container{
    background-color:#EEEEEE; 
    width:83%; 
    height: 99.8%;
    float:left;
    overflow: auto;
    border: 1px solid #5F5F5F;
    z-index: 999;
}
div#right-container{
    width:15%; 
    float:left;
    margin-top:20px;
    background-color: #EFEFEF;
}

div#right-container span{
    display: block;
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}

div#right-container input,div#right-container button{
    margin-left: 20px;
    border-radius: 4px;
}


ul.list-zf{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#F25E30), to(#D24114));  }
ul.list-ls {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        background-color: #fff;
}

ul.list-zf li, ul.list-ls li {
    float: left;
    position: relative;
}

.zf,.ls{
    display: inline-block;
    text-align: center;
    padding: 6px 43px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    color: #fff;
}

.ls{
    font-weight: 800;
}

.zf{
    border-right: 1px solid #fff;
    margin: 8px 0;
}

.list-zf li:last-child .zf{
    border-right: none;
}

.select-on{
    color: #FFFFFF;
}

.select-on:after{
    content: '';
    display: block;
    width: 72px;
    height: 1px;
    background-color: #FFFFFF;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    border-left:1px solid #888;
    border-top:1px solid #888;
    background:#efefef;
}



table tr td, table tr th{
    border:none;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 8px;
}

table th {
    background-color: #707070;
    font-size: 13px;
}

li {
    display:inline;
}

.second-header .zf,.second-header .ls{
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 18px 30px;
    transition: 0.3s;
    font-size: 17px;
}

.list-ls li:first-child{
    border-right: 1px solid #CFCFCF;
}

.second-header .selectOn{
    background: #000000;
    color: #FFFFFF;
}


.op {
    width: 100px;
      margin-top: 30px;
    border: none;
    padding: 6px 6px;
    cursor: pointer;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#F25E30), to(#D24114));
}

.time {
    border-radius: 10%;
}

.pleaseOpen{
    text-align: center;
    margin-top: 5%;
    color: #8c8c8c;
    display: none;
}

.logo{
    position: absolute;
    right: 15px;
    width: 12%;
    top: 12px;
}

#table tbody tr th{
    border-right: 1px solid #626262;
}


#table tbody tr td{
    color: #000;
}

#table tbody tr{
    height: 30px;
    font-size: 14px;
    text-align: left;
}

#table tbody tr:not(:first-child){
    background-color: #fff;
    cursor: pointer;
}

#table tbody tr:not(:first-child):hover{
    background-color: #cfcfcf;
}

.noOrder{
    text-align: center;
    font-size: 18px;
    margin-top: 80px;
}

.page-mod{
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.page-mod a{
    padding: 3px 7px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #999;
}

.page-mod .on{
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#F25E30), to(#D24114));
    border: 1px solid #F25E30;
}

.selectOn:before{
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #FFFFFF;
    position: relative;
    top: 13px;
    left: -5px;
}

/*滚动条样式*/

#left-container::-webkit-scrollbar{
    width: 14px;
    height: 14px;
}

#left-container::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #B4B4B4;
}

#left-container::-webkit-scrollbar-track{
    border-radius: 4px;
    background-color: #D9D9D9;
}


/*用户提现*/
.cash{
    z-index: 999;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 5%;
    margin-top: 2%;
    background-color: #fff;
}

input[type=button]{
    outline: none;
}

.center{
    padding: 10px 30px;
}

.center>p:nth-child(2){
    color: #e95730;
    margin-bottom: 0px;
}

.center>p:nth-child(5){
    font-size: 13px;
    margin-left: 110px;
    margin-top: -9px;
}

.center>p:nth-child(5) span{
    margin-right: 15px;
    color: #646464;
}

.center>p:nth-child(6){
    text-align: center;
    margin: 0px;
    margin-top: 30px;
    font-size: 14px;
}

.fontWe{
    font-weight: 700;
}

.marginLeft{
    margin-left: 30px;
}

#withMoney_weixin:before{
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/wexin.png);
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -5px;
}

.gz{
    text-align: center;
    color: #4070A0;
    font-size: 12px;
}

#withMoney_weixin{
    margin-left: 10px;
}

#withMoney_ali:before{
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/ali.ico);
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -5px;
}

.userInfo{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 10px 0px;
    text-align: center;
    margin-top: 8px;
}

.userInfo li{
    margin-left: 20px;
    margin-right: 20px;
}

.userInfo li>input[type=text]{
    width: 320px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    text-indent: 4px;
}

.cash input[type=button]{
    width: 96px;
    padding: 6px 0px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #F2F2F2;
    border: 1px solid #686868;
}

#txButton{
    background-color: #F25E30;
    border: none;
    color: #fff;
}

.expl{
    font-size: 12px;
    margin: 0px;
    margin-left: 104px;
    margin-top: 4px;
    color: #4070A0;
    text-align: left;
}


/*loading*/
.load{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 20%;
}

#cashNotes{
    display: none;
    overflow-x: auto;
    height: 80%;
}

#cashNotes table tr td{
    color: #000000;
}

#cashNotes table{
    width: 100%;
    background: none;
}


/*翻页*/
#pageGro{ width:400px; height:25px; margin:0px auto; padding-top:10px;padding-bottom: 30px;text-align: center;float: left;position: relative;left: 50%;margin-left: -200px;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#F25E30; border:1px solid #F25E30;}
#pageGro .pageUp,#pageGro .pageDown{ width:40px; border:1px solid #999; cursor:pointer;}
#pageGro .pageUp{margin-left: 40px;}
.pageList ul{margin: 0;padding: 0;float: left;}
#size{
    width: 40px;
    text-align: center;
}

#wx:before,#ali:before,#pos:before{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 4px;
    left: -4px;
    border-radius: 3px;
}

#wx:before{
    background: url('../images/wexin.png');
    background-size: 100% 100%;
}

#ali:before{
    background: url('../images/ali.png');
    background-size: 100% 100%;
}

#pos:before{
    background: url('../images/pos.png');
    background-size: 100% 100%;
}
